In [2]:
import os 
cwd = os.getcwd()
cwd
#dir_path = os.path.dirname(os.path.realpath(__file__))

'C:\\Users\\matts\\Dropbox\\Matt Savoca\\Projects\\NFL 2023\\Project - Weekly FF Heatmaps'

In [5]:
import pandas as pd
import numpy as np
import plotly.express as px
from IPython.display import Javascript
from plotly.io import to_html
import plotly.io as pio
import dash
from dash import dcc
from dash import html
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

df = pd.read_csv(cwd + '\scoring_heatmap_2023_3.csv')
df['pos_avg'] = df.groupby('pos')['points'].transform('mean')
df['pos_val'] = df['points'] - df['pos_avg']
df['id'] = df['player_id']
df.head()

,player_id,week,name,pos,team,points,season,pt_change,sum_pts,tm_points,tm_wk_pts,division,conf,game_label,game_pts,initials,pos_avg,pos_val,id
0,00-0038542,3,Bijan Robinson,RB,ATL,10.00,2023,NaN,17.166667,68.973333,53.54,NFC South,NFC,ATL vs. DET,485.08,BR,10.107407,-0.107407,00-0038542
1,00-0038122,3,Desmond Ridder,QB,ATL,8.34,2023,NaN,12.873333,68.973333,53.54,NFC South,NFC,ATL vs. DET,485.08,DR,15.628148,-7.288148,00-0038122
2,00-0037263,3,Tyler Allgeier,RB,ATL,4.90,2023,NaN,11.366667,68.973333,53.54,NFC South,NFC,ATL vs. DET,485.08,TA,10.107407,-5.207407,00-0037263
3,00-0033858,3,Jonnu Smith,TE,ATL,8.70,2023,NaN,8.700000,68.973333,53.54,NFC South,NFC,ATL vs. DET,485.08,JS,7.047222,1.652778,00-0033858
4,00-0037238,3,Drake London,WR,ATL,5.10,2023,NaN,7.933333,68.973333,53.54,NFC South,NFC,ATL vs. DET,485.08,DL,10.517000,-5.417000,00-0037238

In [6]:
df['pos_val'].max()

41.19259259259259

In [10]:

colors = {
    'background': '#111111',
    'text': '#7FDBFF'
}

pio.templates['my_template'] = go.layout.Template(
    layout_font_family='"Open Sans", sans-serif'  
)

df['name'] = df['name'].str.upper()
df['name'] = df['name'].str.replace(' ', '<br>', 1)
df['league'] = "Chart by Matt Savoca @draftaholic                                              Week 3, 2023.                                                         Data: nflreadR"
color_scale = [(0.0, 'red'), (0.5, '#312D3C'), (1.0, 'green')]

fig = px.treemap(df, path=['league','game_label','team', 'name'], values='sum_pts',
                 color='pos_val', color_continuous_scale=color_scale,
                 hover_data=['name', 'sum_pts', 'game_pts'],
                 color_continuous_midpoint=np.average(df['pos_val']),
                 height = 2568, width = 4167,
                )

fig.update_traces(root_color='navy')  
fig.update_traces(textposition='middle center')
#fig.update_layout(title_font_family='cursive') 
fig.update_traces(level="above", textfont_family="sans-serif", textfont_size=40)
fig.update_layout(legend = {'visible':False})
fig.update_traces(marker=dict(line=dict(width=2, color='black')))
fig.update(layout_showlegend=False)
fig.update_layout(
    showlegend=False,
    coloraxis_showscale=False,
)

app = dash.Dash()

app.layout = html.Div(style={'backgroundColor': colors['background']}, children=[
    dcc.Graph(figure=fig,
             config = {'edits':{'legendPosition':False, 'colorbarPosition':False, 'legendText':None}})
])

if __name__ == '__main__':
    app.run_server(debug=True, use_reloader=False, port=8051)

In [83]:
html